<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{add.costs.title}"></title>
    <link rel="shortcut icon" th:href="@{/img/icons/faviconcircle.ico}"/>
    <link rel="stylesheet" href="/css/main/general.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/secondary/costs-income.css">
</head>

<body>

<!-- User Information Form -->
<div class="user_information">

    <div>
        <!-- Message Hello -->
        <span th:text="#{ssi.homepage.user.hello.label}"></span>

        <!-- Display username -->
        <form th:each="user:${userList}">
            <a class="user_display" th:href="@{'/ssi/user/information/' + ${user.getUserId()}}">
                <span sec:authentication="name"></span>
            </a>
        </form>
    </div>
    <hr>

    <!--  Icons for information and logout -->
    <div style="display: block ruby">

        <!-- Information about user -->
        <button class="button_none_btn" type="submit">
            <a th:href="@{'/ssi/user/info/edit/'}">
                <img class="userinfo_icon" src="/img/icons/userinfo.png" th:alt="#{main.userinfo.label}"
                     th:title="#{main.userinfo.label}">
            </a>
        </button>

        <!-- Logout -->
        <form method="post" action="/logout">
            <button class="button_none_btn" type="submit">
                <a>
                    <img class="logout_icon" src="/img/icons/logout.png" th:alt="#{main.logout.label}"
                         th:title="#{main.logout.label}"> </a>
            </button>
        </form>
    </div>

    <hr>

    <!-- Language select -->
    <div class="select_languages">

        <div class="btn_ro">
            <a th:href="@{/ssi/costs/add?language=ro}"><img class="lang_ro" src="/img/languages/ro.png"
                                                            th:title="#{lang.ro}" th:alt="#{lang.ro}"></a>
        </div>

        <div class="btn_en">
            <a th:href="@{/ssi/costs/add?language=en}"><img class="lang_en" src="/img/languages/en.png"
                                                            th:title="#{lang.en}" th:alt="#{lang.en}"></a>
        </div>
    </div>
</div>

<!-- Logo on page -->
<a class="logo" th:href="@{'/ssi/home'}">
    <img src="/img/logo/ssi.png" th:alt="#{ssi}">
</a>

<!-- Navigator -->
<nav>
    <a class="nav_btn" th:href="@{'/ssi/home'}">
        <img class="icon_size" src="/img/icons/home.png" th:alt="#{main.userinfo.label}"
             th:title="#{main.userinfo.label}">
        <span th:utext="#{ssi.homepage.nav.label}" th:title="#{main.userinfo.label}"></span>
    </a>
    <a class="nav_btn" th:href="@{'/ssi/costs'}">
        <img class="icon_size" src="/img/icons/costs.png" th:alt="#{ssi.costs.nav.label}"
             th:title="#{ssi.costs.nav.label}">
        <span th:text="#{ssi.costs.nav.label}" th:title="#{ssi.costs.nav.label}"></span>
    </a>
    <a class="nav_btn" th:href="@{'/ssi/income'}">
        <img class="icon_size" src="/img/icons/income.png" th:alt="#{ssi.income.nav.label}"
             th:title="#{ssi.income.nav.label}">
        <span th:text="#{ssi.income.nav.label}" th:title="#{ssi.income.nav.label}"></span>
    </a>
</nav>

<!-- Form for editing costs -->
<form method="post" action="/ssi/costs/save" th:object="${cost}">
    <div class="main_panel">

        <!-- Add costs -->
        <h1 th:text="#{ssi.costs.add.title.label}"></h1>
        <hr>

        <div class="table_position">

            <!-- Cost Id -->
            <input type="hidden" name="userId" th:field="*{costId}">

            <!-- Data -->
            <div class="add-display-message">
                <label for="date" th:text="#{ssi.costs.form.date.label}"></label>
            </div>
            <input type="date" name="date" id="date" placeholder="DD/MM/YYYY" th:field="*{date}">

            <!-- Currency -->
            <div class="add-display-message">
                <label for="currency" th:utext="#{ssi.costs.form.currency.label}"></label>
            </div>
            <select class="select_currency" id="currency" th:field="*{currency}">
                <option th:text="#{ssi.costs.option.currency.euro.label}" value="Euro"></option>
                <option th:text="#{ssi.costs.option.currency.leu.label}" value="Lei"></option>
            </select>

            <!-- Value -->
            <div class="add-display-message">
                <label for="value" th:text="#{ssi.costs.form.value.label}"></label>
            </div>
            <input type="text" name="name" id="value" placeholder="Value" th:field="*{value}">
            <br>
            <hr>
        </div>

        <div class="bt_sub">
            <button class="main_btn" type="reset" th:text="#{ssi.costs.btn.reset.label}"></button>
            <button class="main_btn" type="submit" th:utext="#{ssi.costs.add.title.label}"></button>
        </div>

    </div>
</form>

<!-- Footer for site -->
<div class="footer">
    <p>Copyright &copy; 2021 All Rights Reserved by
        <span th:utext="#{main.author}"></span>.
    </p>
</div>

</body>
</html>