<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ssi.income.title.label}"></title>
    <link rel="shortcut icon" th:href="@{/img/icons/faviconcircle.ico}"/>
    <link rel="stylesheet" href="/css/main/general.css">
    <link rel="stylesheet" href="/css/secondary/income.css">
    <link rel="stylesheet" href="/css/secondary/table.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>

<body>

<!-- User Menu -->
<form method="post" action="/logout">
    <div class="user_information">

        <div>
            <!-- Message Hello -->
            <span th:text="#{ssi.homepage.user.hello.label}"></span>

            <!-- Display username -->
            <a class="user_display" th:href="@{'/ssi/user/information'}">
                <span sec:authentication="name"></span>
            </a>
        </div>

        <hr>

        <!--  Icons for information and logout -->
        <div style="display: block ruby">

            <!-- Information about user -->
            <button class="button_none_btn" type="submit">
                <a th:href="@{'/ssi/user/info/edit/'}">
                    <img class="userinfo_icon" src="/img/icons/userinfo.png" th:alt="#{main.userinfo.label}"
                         th:title="#{main.userinfo.label}">
                </a>
            </button>

            <!-- Logout -->
            <form method="post" action="/logout">
                <button class="button_none_btn" type="submit">
                    <a>
                        <img class="logout_icon" src="/img/icons/logout.png" th:alt="#{main.logout.label}"
                             th:title="#{main.logout.label}"> </a>
                </button>
            </form>
        </div>

        <hr>

        <!-- Language select -->
        <div class="select_languages">

            <div class="btn_ro">
                <a th:href="@{/ssi/income?language=ro}"><img class="lang_ro" src="/img/languages/ro.png"
                                                             th:title="#{lang.ro}" th:alt="#{lang.ro}"></a>
            </div>

            <div class="btn_en">
                <a th:href="@{/ssi/income?language=en}"><img class="lang_en" src="/img/languages/en.png"
                                                             th:title="#{lang.en}" th:alt="#{lang.en}"></a>
            </div>
        </div>
    </div>

</form>

<!-- Logo on page -->
<a class="logo" th:href="@{'/ssi/home'}">
    <img src="/img/logo/ssi.png" th:alt="#{ssi}">
</a>

<!-- Navigator -->
<nav>
    <a class="btn_signup" th:href="@{'/ssi/home'}">
        <img class="icon_size" src="/img/icons/home.png" th:alt="#{main.userinfo.label}"
             th:title="#{main.userinfo.label}">
        <span th:utext="#{ssi.homepage.nav.label}" th:title="#{main.userinfo.label}"></span>
    </a>
    <a class="btn_signup" th:href="@{'/ssi/costs'}">
        <img class="icon_size" src="/img/icons/costs.png" th:alt="#{ssi.costs.nav.label}"
             th:title="#{ssi.costs.nav.label}">
        <span th:text="#{ssi.costs.nav.label}" th:title="#{ssi.costs.nav.label}"></span>
    </a>
    <a class="btn_signup " th:href="@{'/ssi/income'}">
        <img class="icon_size" src="/img/icons/income.png" th:alt="#{ssi.income.nav.label}"
             th:title="#{ssi.income.nav.label}">
        <span th:text="#{ssi.income.nav.label}" th:title="#{ssi.income.nav.label}"></span>
    </a>
</nav>

<!-- Table with information -->
<table class="custom_table">

    <!-- Head of table -->
    <tr>
        <!-- Table field -->
        <th th:text="#{ssi.table.nr.crt}"></th>
        <th th:text="#{ssi.table.date}"></th>
        <th th:text="#{ssi.table.explication}"></th>
        <th th:text="#{ssi.table.document.justification}"></th>
        <th th:utext="#{ssi.table.currency}"></th>
        <th th:text="#{ssi.table.unitary.price}"></th>
        <th th:text="#{ssi.table.value}"></th>
        <th th:text="#{ssi.table.tva}"></th>
        <th th:text="#{ssi.table.tva.value}"></th>
        <th th:text="#{ssi.table.total.value}"></th>
        <th th:text="#{ssi.table.total.value.tva}"></th>
        <th th:text="#{ssi.table.option}"></th>
    </tr>

    <!-- Body of table -->
    <tr th:each="income:${incomeList}">

        <!-- Number current -->

        <!-- Date -->
        <td th:text="${#dates.format(income.date,'dd/MM/yyyy')}"></td>

        <!-- Explication -->
        <td></td>

        <!-- Justification Document -->
        <td></td>

        <!-- Currency -->
        <td th:utext="${cost.currency}"></td>

        <!-- Unitary price -->
        <td></td>

        <!-- Value -->
        <td th:text="${cost.value}"></td>

        <!-- TVA -->
        <td></td>

        <!-- TVA -->
        <td></td>

        <!-- Value TVA -->
        <td></td>

        <!-- Total TVA -->
        <td></td>

        <!-- Total Value + TVA -->
        <td></td>

        <!-- Option -->
        <td>

            <!-- Delete -->
            <button class="button_none_btn">
                <a name="delete" id="delete" th:href="@{'/ssi/costs/delete/' + ${cost.costId}}">
                    <img class="delete_icon" src="/img/icons/trash.png" th:alt="#{main.delete.label}"
                         th:title="#{main.delete.label}">
                </a>
            </button>

            <!-- Edit -->
            <button class="button_none_btn">
                <a name="edit" id="edit" th:href="@{'/ssi/costs/edit/' + ${cost.costId}}">
                    <img class="edit_icon" src="/img/icons/edit.png" th:alt="#{main.edit.label}"
                         th:title="#{main.edit.label}">
                </a>
            </button>
        </td>
    </tr>

    <!-- Add field -->
    <td>
        <a class="btn_signup" id="add" th:href="@{'/ssi/costs/add'}">
            <img class="add_icon" src="/img/icons/add.png" th:alt="#{main.add.label}"
                 th:title="#{main.add.label}">
        </a>
    </td>

</table>

<!-- Footer for site -->
<div class="footer">

    <!-- Copyright -->
    <p class="copyright_text">Copyright &copy; 2021 All Rights Reserved by
        <span th:utext="#{main.author}"></span>.
    </p>

    <div class="footer_contact_about">

        <!-- Contact -->
        <div class="contact">
            <a th:href="@{'/ssi/contact'}">
                <img class="icon_size_footer" src="/img/icons/contact.png" th:alt="#{contact.icon}"
                     th:title="#{contact.icon}">
            </a>
        </div>

        <!-- About -->
        <div class="about">
            <a th:href="@{'/ssi/about'}">
                <img class="icon_size_footer" src="/img/icons/about.png" th:alt="#{about.name.icon}"
                     th:title="#{about.name.icon}">
            </a>
        </div>
    </div>

</div>

</body>
</html>
