<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user_info.title.label}"></title>
    <link rel="shortcut icon" th:href="@{/img/icons/faviconcircle.ico}"/>
    <link rel="stylesheet" href="/css/main/general.css">
    <link rel="stylesheet" href="/css/secondary/table.css">
</head>

<body>

<!-- User Menu -->
<form method="post" action="/logout">
    <div class="user_information">

        <div>
            <!-- Message Hello -->
            <span th:text="#{ssi.homepage.user.hello.label}"></span>

            <!-- Display username -->
            <span sec:authentication="name"></span>
        </div>

        <hr>

        <!--  Icons for information and logout -->
        <div style="display: block ruby">

            <!-- Information about user -->
            <button class="button_none_btn" type="submit">
                <a th:href="@{'/ssi/user/info'}">
                    <img class="userinfo_icon" src="/img/icons/userinfo.png" th:alt="#{main.userinfo.label}"
                         th:title="#{main.userinfo.label}">
                </a>
            </button>

            <!-- Logout -->
            <form method="post" action="/logout">
                <button class="button_none_btn" type="submit">
                    <a>
                        <img class="logout_icon" src="/img/icons/logout.png" th:alt="#{main.logout.label}"
                             th:title="#{main.logout.label}"> </a>
                </button>
            </form>
        </div>

        <hr>

        <!-- Language select -->
        <div class="select_languages">

            <div class="btn_ro">
                <a th:href="@{/ssi/user_info?language=ro}"><img class="lang_ro" src="/img/languages/ro.png"
                                                                th:title="#{lang.ro}" th:alt="#{lang.ro}"></a>
            </div>

            <div class="btn_en">
                <a th:href="@{/ssi/user_info?language=en}"><img class="lang_en" src="/img/languages/en.png"
                                                                th:title="#{lang.en}" th:alt="#{lang.en}"></a>
            </div>
        </div>
    </div>

</form>

<!-- Logo on page -->
<a class="logosecondpage" th:href="@{'/ssi/home'}">
    <img class="logo_size" src="/img/logo/ssi.png" th:alt="#{ssi}">
</a>

<!-- Table with information about user-->

<table>


    <!--    -->
    <tr>
        Left
    </tr>

    <!--    -->
    <tr>
        Right
    </tr>
</table>


</body>

</html>