<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user_info.title.label}"></title>
    <link rel="shortcut icon" th:href="@{/img/icons/faviconcircle.ico}"/>
    <link rel="stylesheet" href="/css/main/general.css">
    <link rel="stylesheet" href="/css/secondary/user_info.css">
</head>

<body>

<!-- User Menu -->
<form method="post" action="/logout">
    <div class="user_information">

        <div>
            <!-- Message Hello -->
            <span th:text="#{ssi.homepage.user.hello.label}"></span>

            <!-- Display username -->
            <a class="user_display" th:href="@{'/ssi/user/information'}">
                <span sec:authentication="name"></span>
            </a>
        </div>

        <hr>

        <!--  Icons for information and logout -->
        <div style="display: block ruby">

            <!-- Information about user -->
            <button class="button_none_btn" type="submit">
                <a th:href="@{'/ssi/user/info/edit/'}">
                    <img class="userinfo_icon" src="/img/icons/userinfo.png" th:alt="#{main.userinfo.label}"
                         th:title="#{main.userinfo.label}">
                </a>
            </button>

            <!-- Logout -->
            <form method="post" action="/logout">
                <button class="button_none_btn" type="submit">
                    <a>
                        <img class="logout_icon" src="/img/icons/logout.png" th:alt="#{main.logout.label}"
                             th:title="#{main.logout.label}"> </a>
                </button>
            </form>
        </div>

        <hr>

        <!-- Language select -->
        <div class="select_languages">

            <div class="btn_ro">
                <a th:href="@{/ssi/user/info/edit?language=ro}"><img class="lang_ro" src="/img/languages/ro.png"
                                                                     th:title="#{lang.ro}" th:alt="#{lang.ro}"></a>
            </div>

            <div class="btn_en">
                <a th:href="@{/ssi/user/info/edit?language=en}"><img class="lang_en" src="/img/languages/en.png"
                                                                     th:title="#{lang.en}" th:alt="#{lang.en}"></a>
            </div>
        </div>
    </div>

</form>

<!-- Logo on page -->
<a class="logo" th:href="@{'/ssi/home'}">
    <img src="/img/logo/ssi.png" th:alt="#{ssi}">
</a>

<!-- Navigator -->
<nav>
    <a class="btn_signup" th:href="@{'/ssi/home'}"><span th:utext="#{ssi.homepage.nav.label}"></span></a>
    <a class="btn_signup" th:href="@{'/ssi/costs'}"><span th:text="#{ssi.costs.nav.label}"></span></a>
    <a class="btn_signup " th:href="@{'/ssi/income'}"><span th:text="#{ssi.income.nav.label}"></span></a>
</nav>

<!-- Form for editing costs -->
<form method="post" action="/ssi/user/info/save" th:object="${user_info}">
    <div class="user_info">

        <!-- User info -->
        <h1 th:text="#{user_info.form.title.label}"></h1>
        <input type="hidden" name="userId" th:filed="*{userId}">
        <hr>

        <!-- Name -->
        <label for="name" th:text="#{user_info.name.label}"></label>
        <input type="text" name="name" id="name" placeholder="Name" th:field="*{name}">
        <br>

        <!-- Last Name  -->
        <label for="last_name" th:text="#{user_info.last_name.label}"></label>
        <input type="text" name="last_name" id="last_name" placeholder="Last Name" th:field="*{lastName}">
        <br>

        <!-- Email -->
        <label for="email" th:text="#{user_info.email.label}"></label>
        <input type="text" name="email" id="email" placeholder="Email" th:field="*{email}">
        <br>

        <!-- Phone Number  -->
        <label for="phone_number" th:utext="#{user_info.phone_number.label}"></label>
        <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number"
               th:field="*{phoneNumber}">
        <br>

        <!-- Country -->
        <label for="country" th:utext="#{user_info.country.label}"></label>
        <select class="select_country" id="country" th:field="*{country}">
            <option th:utext="#{user_info.country.romania.label}" value="romania"></option>
            <option th:utext="#{user_info.country.international.label}" value="international"></option>
        </select>

        <hr>

        <div class="bt_sub">
            <button class="btn_edit" type="submit" th:text="#{user_info.edit.bt.label}"></button>
        </div>

    </div>

</form>

<!-- Footer for site -->
<div class="footer">
    <p>Copyright &copy; 2021 All Rights Reserved by
        <span th:utext="#{main.author}"></span>.
    </p>
</div>

</body>
</html>