<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user_info.title.label}"></title>
    <link rel="shortcut icon" th:href="@{/img/icons/faviconcircle.ico}"/>
    <link rel="stylesheet" href="/css/main/general.css">
    <link rel="stylesheet" href="/css/secondary/user_information.css">
    <link rel="stylesheet" href="/css/secondary/table.css">
</head>

<body>

<!-- User Menu -->
<form method="post" action="/logout">
    <div class="user_information">

        <div>
            <!-- Message Hello -->
            <span th:text="#{ssi.homepage.user.hello.label}"></span>

            <!-- Display username -->
            <a class="user_display" th:href="@{'/ssi/user/information'}">
                <span sec:authentication="name"></span>
            </a>
        </div>

        <hr>

        <!--  Icons for information and logout -->
        <div style="display: block ruby">

            <!-- Information about user -->
            <button class="button_none_btn" type="submit">
                <a th:href="@{'/ssi/user/info/edit/'}">
                    <img class="userinfo_icon" src="/img/icons/userinfo.png" th:alt="#{main.userinfo.label}"
                         th:title="#{main.userinfo.label}">
                </a>
            </button>

            <!-- Logout -->
            <form method="post" action="/logout">
                <button class="button_none_btn" type="submit">
                    <a>
                        <img class="logout_icon" src="/img/icons/logout.png" th:alt="#{main.logout.label}"
                             th:title="#{main.logout.label}"> </a>
                </button>
            </form>
        </div>

        <hr>

        <!-- Language select -->
        <div class="select_languages">

            <div class="btn_ro">
                <a th:href="@{/ssi/user/information?language=ro}"><img class="lang_ro" src="/img/languages/ro.png"
                                                                       th:title="#{lang.ro}" th:alt="#{lang.ro}"></a>
            </div>

            <div class="btn_en">
                <a th:href="@{/ssi/user/information?language=en}"><img class="lang_en" src="/img/languages/en.png"
                                                                       th:title="#{lang.en}" th:alt="#{lang.en}"></a>
            </div>
        </div>
    </div>

</form>

<!-- Logo on page -->
<a class="logo" th:href="@{'/ssi/home'}">
    <img class="logo_size" src="/img/logo/ssi.png" th:alt="#{ssi}">
</a>

<!-- Navigator -->
<nav>
    <a class="btn_signup" th:href="@{'/ssi/home'}">
        <img class="icon_size" src="/img/icons/home.png" th:alt="#{main.userinfo.label}"
             th:title="#{main.userinfo.label}">
        <span th:utext="#{ssi.homepage.nav.label}" th:title="#{main.userinfo.label}"></span>
    </a>
    <a class="btn_signup" th:href="@{'/ssi/costs'}">
        <img class="icon_size" src="/img/icons/costs.png" th:alt="#{ssi.costs.nav.label}"
             th:title="#{ssi.costs.nav.label}">
        <span th:text="#{ssi.costs.nav.label}" th:title="#{ssi.costs.nav.label}"></span>
    </a>
    <a class="btn_signup " th:href="@{'/ssi/income'}">
        <img class="icon_size" src="/img/icons/income.png" th:alt="#{ssi.income.nav.label}"
             th:title="#{ssi.income.nav.label}">
        <span th:text="#{ssi.income.nav.label}" th:title="#{ssi.income.nav.label}"></span>
    </a>
</nav>


<!-- Table with information about user-->

<div class="user_info_table">
    <div class="table_information_user">
        <div class="table_position">

            <!-- Display username -->
            <span class="user_appearance" sec:authentication="name"></span>

            <hr>

            <table class="table_information_user" th:each="userInfo:${userList}">
                <!-- Display information -->

                <!-- Name -->
                <tr>
                    <td class="colhead" th:text="#{user_information.name}"></td>
                    <td class="right-text"
                        th:text="${userInfo.userDetails != null} ?${userInfo.userDetails.name} : 'n/a'"></td>
                </tr>

                <!-- Last Name -->
                <tr>
                    <td class="colhead" th:text="#{user_information.last.name}"></td>
                    <td class="right-text"
                        th:text="${userInfo.userDetails != null} ?${userInfo.userDetails.lastName} : 'n/a'"></td>
                </tr>

                <!-- Email -->
                <tr>
                    <td class="colhead" th:text="#{user_information.email}"></td>
                    <td class="right-text"
                        th:text="${userInfo.userDetails != null} ?${userInfo.userDetails.email} : 'n/a'"></td>
                </tr>

                <!-- Phone Number -->
                <tr>
                    <td class="colhead" th:text="#{user_information.phone.number}"></td>
                    <td class="right-text"
                        th:text="${userInfo.userDetails != null} ?${userInfo.userDetails.phoneNumber} : 'n/a'"></td>
                </tr>

                <!-- Country -->
                <tr>
                    <td class="colhead" th:text="#{user_information.country}"></td>
                    <td class="right-text"
                        th:text="${userInfo.userDetails != null} ?${userInfo.userDetails.country} : 'n/a'"></td>
                </tr>

            </table>
        </div>
    </div>
</div>


</body>

</html>