/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;

}

.copyright_text {
    opacity: 45%;
    margin: 10px;
}

.footer_contact_about {
    position: relative;
}

.contact {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.about {
    position: absolute;
    bottom: 0;
    right: 40px;
}

