.user_information {
    max-width: 250px;
    max-height: 130px;
    border-radius: 30px;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #e3fdf5 35%, #f89c1c 100%);
    margin: 1% 1%;
}

.user_information {
    vertical-align: top;
    float: right;
}

.userinfo_icon {
    width: 25px;
    height: 25px;
}

.logout_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.button_none_btn {
    background: none;
    border: none;
}

.contains {
    width: 600px;
    max-height: 800px;
    height: auto;
    border-radius: 50px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #e3fdf5 35%, #f89c1c 100%);
}

.contains_news {
    width: 90%;
    max-height: 800px;
    height: auto;
    border-radius: 10px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #e3fdf5 35%, #f89c1c 100%);
    color: #0c7578;
}

.banner_home {
    text-align: center;
    background-color: #000000;
    border: 10px solid;
    border-radius: 10px;
    opacity: 45%;
    width: 100%;
    margin: 0 auto;
}

.banner_home_theme {
    font-weight: bold;
    color: #f89c1c;
}

.banner_news_theme {
    font-weight: bold;
    color: #f89c1c;
}

.text_appearance {
    text-align: center;
    color: #0c7578;
}

.home_news_text {
    display: list-item;
    opacity: 60%;
}

.icon_size {
    width: 20px;
    height: 20px;
    margin: -3px 3px;
    cursor: pointer;
}

.icon_size_calendar {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: -4px;
}
