<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{ssi.homepage.label}"></title>
    <link rel="shortcut icon" th:href="@{/img/icons/faviconcircle.ico}"/>
    <link rel="stylesheet" href="/css/main/general.css">
    <link rel="stylesheet" href="/css/main/home.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>

<body>

<!-- User Information Form-->

<div class="user_information">

    <div>
        <!-- Message Hello -->
        <span th:text="#{ssi.homepage.user.hello.label}"></span>

        <!-- Display username -->
        <a class="user_display" th:href="@{'/ssi/user/information'}">
            <span sec:authentication="name"></span>
        </a>
    </div>
    <hr>

    <!--  Icons for information and logout -->
    <div style="display: block ruby">

        <!-- Information about user -->
        <button class="button_none_btn" type="submit">
            <a th:href="@{'/ssi/user/info/edit/'}">
                <img class="userinfo_icon" src="/img/icons/userinfo.png" th:alt="#{main.userinfo.label}"
                     th:title="#{main.userinfo.label}">
            </a>
        </button>

        <!-- Logout -->
        <form method="post" action="/logout">
            <button class="button_none_btn" type="submit">
                <a>
                    <img class="logout_icon" src="/img/icons/logout.png" th:alt="#{main.logout.label}"
                         th:title="#{main.logout.label}"> </a>
            </button>
        </form>
    </div>

    <hr>

    <!-- Language select -->
    <div class="select_languages">

        <div class="btn_ro">
            <a th:href="@{/ssi/home?language=ro}"><img class="lang_ro" src="/img/languages/ro.png"
                                                       th:title="#{lang.ro}" th:alt="#{lang.ro}"></a>
        </div>

        <div class="btn_en">
            <a th:href="@{/ssi/home?language=en}"><img class="lang_en" src="/img/languages/en.png"
                                                       th:title="#{lang.en}" th:alt="#{lang.en}"></a>
        </div>
    </div>
</div>

<!-- Logo on page -->
<a class="logo" th:href="@{'/ssi/home'}">
    <img src="/img/logo/ssi.png" th:alt="#{ssi}">
</a>

<!-- Navigator -->
<nav>
    <a class="btn_signup" th:href="@{'/ssi/home'}">
        <img class="icon_size" src="/img/icons/home.png" th:alt="#{main.userinfo.label}"
             th:title="#{main.userinfo.label}">
        <span th:utext="#{ssi.homepage.nav.label}" th:title="#{main.userinfo.label}"></span>
    </a>
    <a class="btn_signup" th:href="@{'/ssi/costs'}">
        <img class="icon_size" src="/img/icons/costs.png" th:alt="#{ssi.costs.nav.label}"
             th:title="#{ssi.costs.nav.label}">
        <span th:text="#{ssi.costs.nav.label}" th:title="#{ssi.costs.nav.label}"></span>
    </a>
    <a class="btn_signup " th:href="@{'/ssi/income'}">
        <img class="icon_size" src="/img/icons/income.png" th:alt="#{ssi.income.nav.label}"
             th:title="#{ssi.income.nav.label}">
        <span th:text="#{ssi.income.nav.label}" th:title="#{ssi.income.nav.label}"></span>
    </a>
</nav>

<!-- Home page contains -->

<div class="contains">

    <!-- Moto -->
    <div class="home_moto">
        <div class="home_moto_cont">
            <span th:text="#{ssi.homepage.moto}"></span>
        </div>
        <!-- Moto text -->
        <div class="home_moto_text">
            <span th:text="#{ssi.homepage.moto.text}"></span>
        </div>

    </div>

</div>

<div class="contains">

    <!-- News -->
    <div class="home_news">
        <div class="home_news_cont">
            <span th:text="#{ssi.homepage.news}">News</span>
        </div>
        <!-- Moto text -->
        <div class="">
            <span></span>
        </div>

    </div>

</div>

<!-- Footer for site -->
<div class="footer">

    <!-- Copyright -->
    <p class="copyright_text">Copyright &copy; 2021 All Rights Reserved by
        <span th:utext="#{main.author}"></span>.
    </p>

    <div class="footer_contact_about">

        <!-- Contact -->
        <div class="contact">
            <a th:href="@{'/ssi/contact'}">
                <img class="icon_size_footer" src="/img/icons/contact.png" th:alt="#{contact.icon}"
                     th:title="#{contact.icon}">
            </a>
        </div>

        <!-- About -->
        <div class="about">
            <a th:href="@{'/ssi/about'}">
                <img class="icon_size_footer" src="/img/icons/about.png" th:alt="#{about.name.icon}"
                     th:title="#{about.name.icon}">
            </a>
        </div>
    </div>

</div>

</body>
</html>