<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signup.titlepage.label}"></title>
    <link rel="shortcut icon" th:href="@{/img/icons/faviconcircle.ico}"/>
    <link rel="stylesheet" href="/css/main/general.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/secondary/signup.css">
</head>
<body>

<!-- User Information Form-->
<form method="post" action="/logout">
    <div class="user_information">

        <!-- Language select -->
        <div class="select_languages">

            <div class="btn_ro">
                <a th:href="@{/signup?language=ro}"><img class="lang_ro" src="/img/languages/ro.png"
                                                         th:title="#{lang.ro}" th:alt="#{lang.ro}"></a>
            </div>

            <div class="btn_en">
                <a th:href="@{/signup?language=en}"><img class="lang_en" src="/img/languages/en.png"
                                                         th:title="#{lang.en}" th:alt="#{lang.en}"></a>
            </div>
        </div>
    </div>

</form>

<!-- Logo on page -->
<a class="logo" th:href="@{'/'}">
    <img src="/img/logo/ssi.png" th:alt="#{ssi}">
</a>

<!-- Create Sign Up template-->
<form method="post" action="/signup" th:object="${user}">
    <div class="main_panel">

        <h1 th:text="#{signUp.title.label}"></h1>
        <p th:utext="#{signUp.paragraph.label}"></p>
        <hr>

        <!-- Id-->
        <input type="hidden" name="userId" th:field="*{userId}">

        <!-- Email-->
        <span th:if="${#fields.hasErrors('email')}" th:each="err:${#fields.errors('email')}"
              th:text="${err}">
                </span>
        <label for="email"><b th:text="#{signUp.email.label}"></b></label>
        <input type="text" th:field="*{email}" th:placeholder="#{signUp.email.label}" name="email" id="email" required>

        <!-- Username-->
        <span th:if="${#fields.hasErrors('username')}" th:each="err:${#fields.errors('username')}"
              th:text="${err}">
                </span>
        <label for="username"><b th:text="#{signUp.username.label}"></b></label>
        <input type="text" th:field="*{username}" th:placeholder="#{signUp.username.label}" name="username"
               id="username" required>

        <!-- Password -->
        <span th:if="${#fields.hasErrors('password')}" th:each="err:${#fields.errors('password')}"
              th:text="${err}">
                </span>
        <label for="password"><b th:text="#{signUp.password.label}"></b></label>
        <input type="password" th:field="*{password}" th:placeholder="#{signUp.password.label}" name="password"
               id="password"
               required>

        <hr>

        <div class="bt_sub">
            <button class="main_btn" type="reset" th:text="#{signUp.cancel.label}"></button>
            <button class="main_btn" type="submit" th:text="#{signUp.submit.label}"></button>
        </div>

    </div>
</form>

<!-- Footer for site -->
<div class="footer">

    <!-- Copyright -->
    <p class="copyright_text">Copyright &copy; 2021 All Rights Reserved by
        <span th:utext="#{main.author}"></span>.
    </p>

    <div class="footer_contact_about">

        <!-- Contact -->
        <div class="contact">
            <a th:href="@{'/ssi/contact'}">
                <img class="icon_size_footer" src="/img/icons/contact.png" th:alt="#{contact.icon}"
                     th:title="#{contact.icon}">
            </a>
        </div>

        <!-- About -->
        <div class="about">
            <a th:href="@{'/ssi/about'}">
                <img class="icon_size_footer" src="/img/icons/about.png" th:alt="#{about.name.icon}"
                     th:title="#{about.name.icon}">
            </a>
        </div>
    </div>

</div>

</body>
</html>